@import url(/assets/css/fonts.css);
@import url(/assets/css/stars.css);

// Colors
$color-primary: #fff;
$color-secondary: #ACAEB5;
$color-background: linear-gradient(to bottom right, #1D2948, #141D33, #0F1628, #050A16);
$color-accent: #767D98;

// Font
$font-family: 'Inter', sans-serif;

// Space
$spacing-medium: 80px;
$spacing-large: 50px;
$spacing-xlarge: 120px;
$spacing-nav: 100px;
$spacing-btn: 130px;
$spacing-side: 20px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-secondary;
    font-family: $font-family;
    position: relative;
    padding: 0 5px;
    &:after {
        content: '';
        position: absolute;
        width: 0; 
        height: 2px;
        left: 0;
        background-color: $color-primary;
        border-radius: 10%;
        bottom: -10px; 
        transition: width 0.3s;
    }
    &:hover {
        color: $color-primary;
        &:after {
            width: 100%;
        }
    }
}

body {
    background: $color-background;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-nav;
    margin: 30px 0px 0 0;
}

.leftSide, .rightSide {
    display: flex;
    justify-content: left;
    gap: $spacing-xlarge;
}

#title {
    color: $color-primary;
    font-family: $font-family;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    font-family: 'Inter', sans-serif;
    color: $color-primary;
    font-weight: 100;
    text-transform: uppercase;
}

#apodSection {
    display: flex;
    justify-content: center;
    //margin-top: 100px;
    color: #767D98;
    font-family: 'Inter',sans-serif;
    font-weight: 300;
}

#apod-img {
    width: 50%;
    margin-bottom: 20px;
    margin: 60px 0;
}

#apod-text {
    display: flex;
    justify-content: center;
    margin: 0 150px;
    height: 50vh;
    font-family: 'Inter',sans-serif;
    color: $color-secondary;
}

#start {
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #cbceda;
}

#menu-button {
    display: none; 
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}


#menu {
    display: none; 
}

#menu ul {
    list-style-type: none;
    padding: 0;
}

#menu ul li {
    margin-bottom: 10px;
}

#menu ul li a {
    text-decoration: none;
    color: $color-accent;
    font-size: 18px;
}

@media screen and (max-width: 768px) {
    #menu-button {
        display: block; 
        position: absolute;
        top: 27px;
        left: 30px;
        color: $color-accent;
        transition: transform 0.3s ease;
    }

    #menu {
        display: none; 
        right: -200px;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    #menu.open {
        display: block;       
        right: 0;
    }

    .leftSide, .rightSide {
        display: none;
    }

    ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 0 0;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    }

    #menu.open ul {
        opacity: 1;
        visibility: visible;
    }

    #menu-button.open {
        transform: rotate(90deg);
    }

    main h1 {
        margin-left: 20px;
    }

    #start {
        margin-top: 10px;
    }

    #apod-text {
        margin: 0;
        align-items: center;
        margin-left: 7px;
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 991px) {
    #menu-button {
        display: block; 
        position: absolute;
        top: 27px;
        left: 30px;
        color: $color-accent;
        transition: transform 0.3s ease;
    }

    #menu {
        display: none; 
        right: -200px;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    #menu.open {
        display: block;       
        right: 0;
    }

    .leftSide, .rightSide {
        display: none;
    }

    ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 0 0;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    }

    #menu.open ul {
        opacity: 1;
        visibility: visible;
    }

    #menu-button.open {
        transform: rotate(90deg);
    }

    main h1 {
        margin-left: 20px;
    }

    #start {
        margin-top: 10px;
    }

    #apod-text {
        margin: 0;
        align-items: center;
        margin-left: 7px;
        height: auto;
    }

    body {
        height: 100vh;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    #menu-button {
        display: block; 
        position: absolute;
        top: 27px;
        left: 30px;
        color: $color-accent;
        transition: transform 0.3s ease;
    }

    #menu {
        display: none; 
        right: -200px;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    #menu.open {
        display: block;       
        right: 0;
    }

    .leftSide, .rightSide {
        display: none;
    }

    ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 0 0;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    }

    #menu.open ul {
        opacity: 1;
        visibility: visible;
    }

    #menu-button.open {
        transform: rotate(90deg);
    }
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
    .navBar {
        gap: 57px;
    }
}