@import url(../css/fonts.css);
@import url(../css/stars.css);

// Colors
$color-primary: #fff;
$color-secondary: #ACAEB5;
$color-background: linear-gradient(to bottom right, #1D2948, #141D33, #0F1628, #050A16);
$color-accent: #767D98;

//Space
$spacing-nav: 100px;
$spacing-side: 20px;
$spacing-group: 92px;

//Font
$font-family: "Inter", sans-serif;

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color-secondary;
  font-family: 'Inter', sans-serif;
  position: relative;
  padding: 0 5px;
  &:after {
      content: '';
      position: absolute;
      width: 0%; 
      height: 2px;
      left: 0;
      background-color: $color-primary;
      border-radius: 10%;
      bottom: -10px; 
      transition: 0.3s;
  }
  &:hover {
      color: $color-primary;
      &:after {
          width: 100%;
      }
  }
}

body {
  background: $color-background;
  // height: 100vh; Removido
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacing-nav;
  margin-top: 30px;
  margin-right: $spacing-side;
}

.leftSide, .rightSide {
  display: flex;
  justify-content: left;
  gap: 150px;
}

#title {
  color: $color-primary;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 5px;
  cursor: pointer;
}

a:hover {
  color: $color-primary;
}

main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 64px 0;
  font-family: $font-family;
  color: $color-primary;
  font-weight: 100;
  text-transform: uppercase;
}

#aladin-lite-div {
  width: 800px;
  height: 600px;
  margin: auto;
}

label {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-secondary;
  font-family: $font-family;
}

#search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

#search-input {
  padding: 11px;
  border-radius: 7px 0 0 7px;
  border: none;
  font-size: larger;
}

button img {
  width: 15px;
  height: 15px; 
  padding: 9px;
}

button {
  border-radius: 0px 10px 10px 0;
  border: none;
  padding: 3px;
  cursor: pointer;
}

pre {
  color: $color-primary;
  margin: 30px 0 0 30px;
}

.container {
  display: flex;
}

.mobile-message {
  display: none;
}

#menu-button {
  display: none; 
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}


#menu {
  display: none; 
}

#menu ul {
  list-style-type: none;
  padding: 0;
}

#menu ul li {
  margin-bottom: 10px;
}

#menu ul li a {
  text-decoration: none;
  color: $color-accent;
  font-size: 18px;
}

.click-here {
  display: none;
}


@media screen and (max-width: 768px) {
#menu-button {
  display: block; 
  position: absolute;
  top: 27px;
  left: 30px;
  color: $color-accent;
  transition: transform 0.3s ease;
}

#menu {
  display: none; 
  right: -200px;
  transition: right 0.3s ease;
  z-index: 1000;
}

#menu.open {
  display: block;       
  right: 0;
}

.leftSide, .rightSide {
  display: none;
}

ul {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 30px 10px 0 0;
gap: 10px;
opacity: 0;
visibility: hidden;
}

#menu.open ul {
  opacity: 1;
  visibility: visible;
}

#menu-button.open {
  transform: rotate(90deg);
}

.mobile-message {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
  color: red;
  font-family: $font-family;
}

body {
  height: 100vh;
}

#aladin-lite-div {
  display: none;
}

.container {
  flex-direction: column;
}

.click-here {
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: $font-family;
}

.container a {
  color: #fff;
  text-decoration: underline;
}

}

@media screen and (min-width: 769px) and (max-width: 991px) {
  #menu-button {
    display: block; 
    position: absolute;
    top: 27px;
    left: 30px;
    color: $color-accent;
    transition: transform 0.3s ease;
  }
  
  #menu {
    display: none; 
    right: -200px;
    transition: right 0.3s ease;
    z-index: 1000;
  }
  
  #menu.open {
    display: block;       
    right: 0;
  }
  
  .leftSide, .rightSide {
    display: none;
  }
  
  ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 10px 0 0;
  gap: 10px;
  opacity: 0;
  visibility: hidden;
  }
  
  #menu.open ul {
    opacity: 1;
    visibility: visible;
  }
  
  #menu-button.open {
    transform: rotate(90deg);
  }

  body {
    height: 100vh;
  }

  .mobile-message {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    color: red;
    font-family: $font-family;
  }

  #aladin-lite-div {
    display: none;
  }

  .click-here {
    display: flex;
    justify-content: center;
    color: #fff;
    font-family: $font-family;
  }
  
  .container a {
    color: #fff;
    text-decoration: underline;   
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  #menu-button {
    display: block; 
    position: absolute;
    top: 27px;
    left: 30px;
    color: $color-accent;
    transition: transform 0.3s ease;
}

#menu {
    display: none; 
    right: -200px;
    transition: right 0.3s ease;
    z-index: 1000;
}

#menu.open {
    display: block;       
    right: 0;
}

.leftSide, .rightSide {
    display: none;
}

ul {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 30px 10px 0 0;
gap: 10px;
opacity: 0;
visibility: hidden;
}

#menu.open ul {
    opacity: 1;
    visibility: visible;
}

#menu-button.open {
    transform: rotate(90deg);
}

}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .navBar {
      gap: 40px;
  }
}
