@import url(/assets/css/fonts.css);
@import url(/assets/css/stars.css);

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #ACAEB5;
    font-family: 'Inter', sans-serif;
    position: relative;
    padding: 0 5px;
}

body {
    background: linear-gradient(to bottom right, #1D2948, #141D33, #0F1628, #050A16);
    //HEIGHT 100vh
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 30px;
    margin-right: 20px;
}

a:after {
    content: '';
  position: absolute;
  width: 0%; 
  height: 2px;
  left: 0;
  background-color: #fff;
  border-radius: 10%;
  bottom: -10px; 
  transition: 0.3s
  }

a:hover {
    color: #fff;
}

a:hover:after {
    width: 100%;
}

.leftSide, .rightSide {
    display: flex;
    justify-content: left;
    gap: 150px;
}

#title {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-weight: 100;
    text-transform: uppercase;
}

#apodSection {
    display: flex;
    justify-content: center;
    //margin-top: 100px;
    color: #767D98;
    font-family: 'Inter',sans-serif;
    font-weight: 300;
}

#apod-img {
        width: 50%;
        margin-bottom: 20px;  
        margin: 60px 0; 
}

#apod-text {
    display: flex;
    justify-content: center;
    margin: 0 150px;
    height: 50vh;
    font-family: 'Inter',sans-serif;
    color: #ACAEB5;
}

#start {
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #cbceda;
}