@import url(/assets/css/fonts.css);
@import url(/assets/css/stars.css);

// Colors
$color-primary: #fff;
$color-secondary: #ACAEB5;
$color-background: linear-gradient(to bottom right, #1D2948, #141D33, #0F1628, #050A16);
$color-accent: #767D98;

// Font
$font-family: 'Inter', sans-serif;

// Space
$spacing-medium: 80px;
$spacing-large: 50px;
$spacing-xlarge: 120px;
$spacing-nav: 100px;
$spacing-btn: 130px;
$spacing-side: 20px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-secondary;
    font-family: $font-family;
    position: relative;
    padding: 0 5px;
    &:after {
        content: '';
        position: absolute;
        width: 0; 
        height: 2px;
        left: 0;
        background-color: $color-primary;
        border-radius: 10%;
        bottom: -10px; 
        transition: width 0.3s;
    }
    &:hover {
        color: $color-primary;
        &:after {
            width: 100%;
        }
    }
}

body {
    background: $color-background;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-nav;
    margin: 30px 0px 0 0;
}

.leftSide, .rightSide {
    display: flex;
    justify-content: left;
    gap: $spacing-xlarge;
}

#title {
    color: $color-primary;
    font-family: $font-family;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

main h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    font-family: 'Inter', sans-serif;
    color: $color-primary;
    font-weight: 100;
    text-transform: uppercase;
}

#apodSection {
    display: flex;
    justify-content: center;
    //margin-top: 100px;
    color: #767D98;
    font-family: 'Inter',sans-serif;
    font-weight: 300;
}

#apod-img {
    width: 50%;
    margin-bottom: 20px;
    margin: 60px 0;
}

#apod-text {
    display: flex;
    justify-content: center;
    margin: 0 150px;
    height: 50vh;
    font-family: 'Inter',sans-serif;
    color: $color-secondary;
}

#start {
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: #cbceda;
}
