@import url(/assets/css/fonts.css);
@import url(/assets/css/stars.css);
@import url(/assets/css/viewport.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ACAEB5;
  font-family: "Inter", sans-serif;
  position: relative;
  padding: 0 5px;
}
a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  background-color: #fff;
  border-radius: 10%;
  bottom: -10px;
  transition: width 0.3s;
}
a:hover {
  color: #fff;
}
a:hover:after {
  width: 100%;
}

body {
  background: linear-gradient(to bottom right, #1D2948, #141D33, #0F1628, #050A16);
}

.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin: 30px 0px 0 0;
}

.leftSide, .rightSide {
  display: flex;
  justify-content: left;
  gap: 120px;
}

#title {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 5px;
  cursor: pointer;
}

.planetTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  color: #fff;
  letter-spacing: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.planetStats {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 50px;
}

#infoTitle {
  color: #767D98;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.info1, .info2, .info3, .info4, .info5 {
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

.planetsImage {
  display: flex;
  justify-content: center;
}

article img {
  height: 500px;
}

.noActiveted,
.noActivated {
  position: absolute;
  display: none;
}

#left, #right {
  font-size: 100px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  position: absolute;
  bottom: 130px;
}

#left {
  left: 22rem;
}

#right {
  right: 20rem;
}

#left:hover, #right:hover {
  color: #ACAEB5;
}

.slideInRight {
  animation: slideInRight 1s ease;
}

@keyframes slideInRight {
  from {
    transform: translateX(60%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.slideInLeft {
  animation: slideInLeft 1s ease;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-60%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
#menu-button {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

#menu {
  display: none;
}

#menu ul {
  list-style-type: none;
  padding: 0;
}

#menu ul li {
  margin-bottom: 10px;
}

#menu ul li a {
  text-decoration: none;
  color: #767D98;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  #menu-button {
    display: block;
    position: absolute;
    top: 27px;
    left: 30px;
    color: #767D98;
    transition: transform 0.3s ease;
  }
  #menu {
    display: none;
    right: -200px;
    transition: right 0.3s ease;
    z-index: 1000;
  }
  #menu.open {
    display: block;
    right: 0;
  }
  .leftSide, .rightSide {
    display: none;
  }
  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 0 0;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
  }
  #menu.open ul {
    opacity: 1;
    visibility: visible;
  }
  #menu-button.open {
    transform: rotate(90deg);
  }
  .planetStats {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .planetTitle {
    margin-left: 20px;
  }
  .info1, .info2, .info3, .info4, .info5 {
    display: flex;
    justify-content: center;
  }
  #infoTitle {
    display: flex;
    justify-content: center;
  }
  article img {
    height: 300px;
    margin-right: 18px;
  }
  #left, #right {
    position: absolute;
    padding: 0;
  }
  #left {
    left: 23px;
    bottom: -85px;
  }
  #right {
    left: 332px;
    bottom: -85px;
  }
}/*# sourceMappingURL=style.css.map */