@import url(/assets/css/fonts.css);
@import url(/assets/css/stars.css);

// Colors
$color-primary: #fff;
$color-secondary: #ACAEB5;
$color-background: linear-gradient(to bottom right, #1D2948, #141D33, #0F1628, #050A16);
$color-accent: #767D98;

// Font
$font-family: 'Inter', sans-serif;

// Space
$spacing-medium: 80px;
$spacing-large: 50px;
$spacing-xlarge: 120px;
$spacing-nav: 100px;
$spacing-btn: 130px;
$spacing-side: 20px;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $color-secondary;
    font-family: $font-family;
    position: relative;
    padding: 0 5px;
    &:after {
        content: '';
        position: absolute;
        width: 0; 
        height: 2px;
        left: 0;
        background-color: $color-primary;
        border-radius: 10%;
        bottom: -10px; 
        transition: width 0.3s;
    }
    &:hover {
        color: $color-primary;
        &:after {
            width: 100%;
        }
    }
}

body {
    background: $color-background;
}

.navBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $spacing-nav;
    margin: 30px 0px 0 0;
}

.leftSide, .rightSide {
    display: flex;
    justify-content: left;
    gap: $spacing-xlarge;
}

#title {
    color: $color-primary;
    font-family: $font-family;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 5px;
    cursor: pointer;
}

.planetTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: $spacing-medium;
    color: $color-primary;
    letter-spacing: 17px;
    font-family: $font-family;
    font-weight: 300;
}

.planetStats {
    display: flex;
    justify-content: center;
    gap: $spacing-large;
    margin-top: $spacing-large;
}

#infoTitle {
    color: $color-accent;
    font-family: $font-family;
    font-weight: 400;
    letter-spacing: 1px;
}

.info1, .info2, .info3, .info4, .info5 {
    color: $color-primary;
    font-family: $font-family;
    font-weight: 300;
}

.planetsImage {
    display: flex;
    justify-content: center;
}

.noActiveted,
.noActivated {
    position: absolute;
    display: none;
}

#left, #right {
    font-size: 100px;
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $color-primary;
    position: absolute;
    bottom: $spacing-btn;
}

#left {
    left: 22rem;
}

#right {
    right: 20rem;
}

#left:hover, #right:hover {
    color: $color-secondary;
}

.slideInRight {
    animation: slideInRight 1s ease;
}

@keyframes slideInRight {
    from {
        transform: translateX(60%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} 
.slideInLeft {
    animation: slideInLeft 1s ease;
}

@keyframes slideInLeft {
    from {
        transform: translateX(-60%); 
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
} 



