@media screen and (max-width: 768px) {
    #menu-button {
        display: block; 
        position: absolute;
        top: 27px;
        left: 30px;
        color: #767D98;
        transition: transform 0.3s ease;
    }

    #menu {
        display: none; 
        right: -200px;
        transition: right 0.3s ease;
        z-index: 1000;
    }

    #menu.open {
        display: block;       
        right: 0;
    }

    .leftSide, .rightSide {
        display: none;
    }

    ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 10px 0 0;
    gap: 10px;
    opacity: 0;
    visibility: hidden;
    }

    #menu.open ul {
        opacity: 1;
        visibility: visible;
    }

    #menu-button.open {
        transform: rotate(90deg);
    }    
}